<div id="user-navbar">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <img src="/images/unilogo.png" alt="unilogo" id="unilogo">
            <h4 style="margin-left: 30px; color: white; margin-top: 20px;"><%= reg_number %></h4>
      </div>
      <div id="user-nav-menu-container">
            <div id="user-navbar-menu">
                  <div class="user-nav-menu-item user-nav-menu-item-befor-selected" id="user-nav-menu-psudo-item-start"></div>
                  <div class="user-nav-menu-item user-nav-menu-item-selected" >My Results</div>
                  <div class="user-nav-menu-item user-nav-menu-item-after-selected" >Results Sheets</div>
                  <div class="user-nav-menu-item" >GPA Lists</div>
                  <div class="user-nav-menu-item" >My profile</div>
                  <div class="user-nav-menu-item" id="user-nav-menu-psudo-item-end"></div>
            </div>
      </div>
      <div id="user-menu-button">
            <img src="/images/menuicon.png" alt="menuicon">
      </div>
</div>