<%- include("partials/Header")-%>

<div id="login-background">
    <div id="login-container">

        <div id="login-image">
            <div id="login-color-overlay">
                <div id="login-welcome">Welcome!</div>
                <div class="login-welcome-note">to the System of</div>
                <div class="login-welcome-note">Students' Results Analysing</div>
                <div class="login-welcome-note">Faculty of Applied Sciences </div>
                <div class="login-welcome-note">Wayamba University of Sri Lanka</div>
            </div>
        </div>
        <form action="/login" method="post" id="login-form">
            <h1 id="login-form-title">Login</h1>
            <img src="/images/user.png" alt="user icon" id="login-form-user-icon">
            <div id="error-message"><%= ErrorMessage%></div>
            <input type="text" name="reg_number" class="login-form-input" placeholder="Index Number">
            <input type="password" name="password" class="login-form-input" placeholder="Password">
            <button type="submit" id="login-button">Login</button>
            <a href="/forgotten">Forgotten Password?</a>

        </form>





    </div>
</div>








<%- include("partials/Footer")-%>