<div id="admin-result-sheet-body">
      <div id="admin-result-sheet-upper">
            <form action="/admin/result/sheet/download" method="post" id="admin-result-sheet">
                  <label for="held">Year Held:</label>
                  <input type="number" name="held" id="admin-result-sheet-held">

                  <label for="year">Level:</label>
                  <input type="number" name="year" id="admin-result-sheet-year">

                  <label for="semester">Semester:</label>
                  <input type="number" name="semester" id="admin-result-sheet-semester">
      
                  <label for="email">combination:</label>
                  <select name="combination" id="combination" style="height: 32px; padding: 1px 2px 1px 2px;">
                        <option value="1">1st Combination (MATH + CMIS + ELTN)</option>
                        <option value="2">2nd Combination (MATH + ELTN + IMGT)</option>
                        <option value="3">3rd Combination (MATH + IMGT + CMIS)</option>
                        <option value="G-1A">General-Combination 1A (MATH + CMIS + ELTN)</option>
                        <option value="G-1B">General-Combination 1B (STAT + CMIS + ELTN)</option>
                        <option value="G-1C">General-Combination 1C (MATH + STAT + CMIS)</option>
                        <option value="G-2A">General-Combination 2A (MATH + ELTN + IMGT)</option>
                        <option value="G-2B">General-Combination 2B (STAT + ELTN + IMGT)</option>
                        <option value="G-2C">General-Combination 2C (MATH + STAT + ELTN)</option>
                        <option value="G-3A">General-Combination 3A (MATH + IMGT + CMIS)</option>
                        <option value="G-3B">General-Combination 3B (STAT + IMGT + CMIS)</option>
                        <option value="G-3C">General-Combination 3C (MATH + STAT + IMGT)</option>
                        <option value="JM-1A">Joint Major-Combination 1A (CMIS + ELTN)</option>
                        <option value="JM-1B">Joint Major-Combination 1B (CMIS + MMST)</option>
                        <option value="JM-1C">Joint Major-Combination 1C (CMIS + IMGT)</option>
                        <option value="JM-2A">Joint Major-Combination 2A (ELTN + CMIS)</option>
                        <option value="JM-2B">Joint Major-Combination 2B (ELTN + MMST)</option>
                        <option value="JM-2C">Joint Major-Combination 2C (ELTN + IMGT)</option>
                        <option value="JM-3A">Joint Major-Combination 3A (IMGT + ELTN)</option>
                        <option value="JM-3B">Joint Major-Combination 3B (IMGT + MMST)</option>
                        <option value="JM-3C">Joint Major-Combination 3C (IMGT + CMIS)</option>
                        <option value="JM-4A">Joint Major-Combination 4A (MMST + CMIS)</option>
                        <option value="JM-4B">Joint Major-Combination 4B (MMST + ELTN)</option>
                        <option value="JM-4C">Joint Major-Combination 4C (MMST + IMGT)</option>
                        <option value="SP-CMIS">Special in Computer Science</option>
                        <option value="SP-IMGT">Special in Industrial Management</option>
                        <option value="SP-ELTN">Special in Eelectronics</option>
                        <option value="SP-MMST">Special in Maths</option>
                  </select>
                  
                  <input type="button" id="generate-result-sheet" value="Generate Results Sheet" style="margin-left: auto;">
                  <input type="submit" id="download-result-sheet" value="Download Results Sheet" style="margin-left: auto;">
            </form>
      </div>

      <div id="admin-result-sheet-mid" >
            
      </div>
      




</div>
<script src="/scripts/result-sheets.js"></script>