<div id="admin-analyzed-reports-body">
      <div id="admin-analyzed-reports-upper">
            <div class="admin-analyzed-reports-form-container">
                  <form action="/admin/analyzed/report/overallgpa/semester" method="post" class="admin-analyzed-reports-form">
                        <h4>OVERALL GPA BY SEMESTER</h4>

                        <label for="batch">Batch (18/19/20/...):</label>
                        <input type="number" name="batch">

                        <label for="year">Level (1/2/3/4):</label>
                        <input type="number" name="year">

                        <label for="year">Semester (1/2):</label>
                        <input type="number" name="semester">

                        <br>

                        <input type="submit" value="Generate GPA Report">
                  </form>

                  <form action="/admin/analyzed/report/overallgpa/year" method="post" class="admin-analyzed-reports-form">
                        <h4>OVERALL GPA BY YEAR</h4>

                        <label for="batch">Batch (18/19/20/...):</label>
                        <input type="number" name="batch">

                        <label for="year">Level (1/2/3/4):</label>
                        <input type="number" name="year">

                        <br>

                        <input type="submit" value="Generate GPA Report">
                  </form>                        
            </div>

            <div class="admin-analyzed-reports-form-container">
                  <form action="/admin/analyzed/report/overallgpa/overall" method="post" class="admin-analyzed-reports-form">
                        <h4>TOTAL OVERALL GPA</h4>

                        <label for="batch">Batch (18/19/20/...):</label>
                        <input type="number" name="batch">

                        <br>

                        <input type="submit" value="Generate GPA Report">
                  </form>

                  <form action="/admin/analyzed/report/subjectgpa/semester" method="post" class="admin-analyzed-reports-form">
                        <h4>SUBJECT GPA BY SEMESTER</h4>

                        <label for="batch">Subject Code:</label>
                        <input type="text" name="subject">

                        <label for="batch">Batch (18/19/20/...):</label>
                        <input type="number" name="batch">

                        <label for="year">Level (1/2/3/4):</label>
                        <input type="number" name="year">

                        <label for="semester">Semester (1/2):</label>
                        <input type="number" name="semester">

                        <br>

                        <input type="submit" value="Generate GPA Report">
                  </form>
            </div>

            <div class="admin-analyzed-reports-form-container">
                  <form action="/admin/analyzed/report/subjectgpa/year" method="post" class="admin-analyzed-reports-form">
                        <h4>SUBJECT GPA BY YEAR</h4>

                        <label for="subject">Subject Code:</label>
                        <input type="text" name="subject">

                        <label for="batch">Batch (18/19/20/...):</label>
                        <input type="number" name="batch">

                        <label for="year">Level (1/2/3/4):</label>
                        <input type="number" name="year">

                        <br>

                        <input type="submit" value="Generate GPA Report">
                  </form>

                  <form action="/admin/analyzed/report/subjectgpa/overall" method="post" class="admin-analyzed-reports-form">
                        <h4>TOTAL SUBJECT GPA</h4>

                        <label for="subject">Subject Code:</label>
                        <input type="text" name="subject">

                        <label for="batch">Batch (18/19/20/...):</label>
                        <input type="number" name="batch">

                        <br>

                        <input type="submit" value="Generate GPA Report">
                  </form>
            </div>

            <div class="admin-analyzed-reports-form-container">
                  <form action="/admin/analyzed/report/selection/subject" method="post" class="admin-analyzed-reports-form">
                        <h4>2ND YEAR SELECTION BY SUBJECT GPA</h4>

                        <label for="subject">Subject Code:</label>
                        <input type="text" name="subject">

                        <label for="batch">Batch (18/19/20/...):</label>
                        <input type="number" name="batch">

                        <br>

                        <input type="submit" value="Generate List">
                  </form>

                  <form action="/admin/analyzed/report/selection/overall" method="post" class="admin-analyzed-reports-form">
                        <h4>2ND YEAR SELECTION BY OVERALL GPA</h4>

                        <label for="subject">Subject code:</label>
                        <input type="text" name="subject">

                        <br>

                        <input type="submit" value="Generate List">
                  </form>
            </div>
      </div>

      <div id="admin-analyzed-reports-mid">
            <h4>DEAN'S LIST</h4>
            <form action="/admin/analyzed/report/deanslist" method="post" style="display: flex; flex-direction: row;">

                  <label for="year" style="margin-right: 5px;">Level:</label>
                  <input type="number" name="year" style="margin-right: 20px;">

                  <label for="batch" style="margin-right: 5px;">Batch (18/19/20/...):</label>
                  <input type="number" name="batch" style="margin-right: 20px;">

                  <br>

                  <input type="submit" value="Generate List">
            </form>
      </div>

      <div id="admin-analyzed-reports-tables">

      </div>

</div>