<dir id="profile-container">
      <table class="table">
            <tbody>
                        <tr>
                              <td>INDEX</td>
                              <td><%= user.REG_NUMBER%></td>
                        </tr>
                        <tr>
                              <td>NAME</td>
                              <td><%= user.NAME%></td>
                        </tr>
                        <tr>
                              <td>EMAIL</td>
                              <td><%= user.EMAIL%></td>
                        </tr>
                        <tr>
                              <td>PASSWORD</td>
                              <td><input type="button" id="change-password" value="Change Password" style="margin-left: auto;"></td>
                        </tr>
                        <tr>
                              <td>BATCH NUMBER</td>
                              <td><%= user.BATCH_NUMBER%></td>
                        </tr>                                  
            </tbody>                              
      </table>
</dir>