<div id="admin-navbar">
      <img src="/images/unilogo.png" alt="unilogo" id="unilogo">
      <div id="admin-nav-menu-container">
            <div id="admin-navbar-menu">
                  <div class="admin-nav-menu-item admin-nav-menu-item-befor-selected" id="admin-nav-menu-psudo-item-start"></div>
                  <div class="admin-nav-menu-item admin-nav-menu-item-selected" >Enter Results</div>
                  <div class="admin-nav-menu-item admin-nav-menu-item-after-selected" >Results Sheets</div>
                  <div class="admin-nav-menu-item" >Analyzed Reports</div>
                  <div class="admin-nav-menu-item" >Enter New Users</div>
                  <div class="admin-nav-menu-item" id="admin-nav-menu-psudo-item-end"></div>
            </div>
      </div>
      <div id="admin-menu-button">
            <img src="/images/menuicon.png" alt="menuicon">
      </div>
</div>